<% if ((post.original != false && !is_page() && theme.copyright) || post.original){ %>
<div class="article_copyright">
    <%if(theme.word_count){%><p><span class="copy-title">文章字数:</span><span class="post-count"><%=wordcount(post.content) %></span></p><%}%>
    <p><span class="copy-title">Author:</span><a href="https://bimscuit.netlify.app" title="<%=config.author%>"><%=config.author%></a></p>
    <p><span class="copy-title">Release:</span><%= post.date.format("ddd, MMM D, YYYY h:mm A") %></p>
    <p><span class="copy-title">Latest update:</span><%= post.updated.format("ddd, MMM D, YYYY h:mm A") %></p>
    <p>
        <span class="copy-title">Copyright notice:</span><i class="fa fa-creative-commons"></i> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target = "_blank">"CC BY-NC-SA 4.0"</a> keep the original link and author.
    </p>
</div>
<% } %>
